.site-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, .8) 10%, rgba($color-purple-0, .6)), url('./img/footer-bg.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: auto; 
  padding: 1rem 1rem 2rem;
  box-shadow: 0 -.4rem 2rem 2px #000;
}

.site-info {
  text-align: center;
  color: #fff;
}