.site-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url('./img/header-bg-eye-color.jpg') center center no-repeat;
  background-size: cover;
  padding: 1rem; 
  box-shadow: 0 .6rem 1rem #000;
  position: relative;
  font-family: 'xoloniumbold';
  position: relative;
} 

.primary-site-header {

}

.cfs-logo-container {
  
}

.cfs-logo {
  text-align: center;
  color: $color-blue-4;
  font-size: 4rem;
  text-shadow: 0 0 5px #fff;
  font-size: 3rem;

  .c {
    animation: c-blink 7s cubic-bezier(.01, .95, .01, .95) infinite 2s;

    @keyframes c-blink {
      0% {
        text-shadow: 0 0 5px #fff;
        color: $color-blue-4;
      }
      
      18% {
        text-shadow: 0 0 5px #fff;
        color: $color-blue-4;
      }

      19% {
        text-shadow: 0 0 1.6rem #fff;
        color: lighten($color-blue-1, 20);
        
      }

      24% {
        text-shadow: 0 0 5px #fff;
        color: $color-blue-4;
      }
      
      44% {
        text-shadow: 0 0 5px #fff;
        color: $color-blue-4;
      }

      45% {
        text-shadow: 0 0 1.6rem #fff;
        color: lighten($color-blue-1, 20);
      }

      47% {
        text-shadow: 0 0 5px #fff;
        color: $color-blue-4;
      }

      48% {
        text-shadow: 0 0 1.6rem #fff;
        color: lighten($color-blue-1, 20);
      }

      82% {
        text-shadow: 0 0 1.6rem #fff;
        color: lighten($color-blue-1, 20);
      }

      94% {
        text-shadow: 0 0 5px #fff;
        color: $color-blue-4;
      }

      100% {
        text-shadow: 0 0 5px #fff;
        color: $color-blue-4;
      }
    }
  }

  .f {
    animation: f-blink 8s cubic-bezier(.01, .99, .01, .99) infinite 1.4s;

    @keyframes f-blink {
      0% {
        text-shadow: 0 0 5px #fff;
        color: $color-blue-4;
      }
      
      16% {
        text-shadow: 0 0 5px #fff;
        color: $color-blue-4;
      }

      17% {
        text-shadow: 0 0 1.6rem #fff;
        color: lighten($color-purple-1, 20);
      }

      19% {
        text-shadow: 0 0 5px #fff;
        color: $color-blue-4;
      }
      
      36% {
        text-shadow: 0 0 5px #fff;
        color: $color-blue-4;
      }

      37% {
        text-shadow: 0 0 1.6rem #fff;
        color: lighten($color-purple-1, 20);
      }

      39% {
        text-shadow: 0 0 5px #fff;
        color: $color-blue-4;
      }

      40% {
        text-shadow: 0 0 5px #fff;
        color: $color-blue-4;
      }

      41% {
        text-shadow: 0 0 1.6rem #fff;
        color: lighten($color-purple-1, 20);
      }

      43% {
        text-shadow: 0 0 5px #fff;
        color: $color-blue-4;
      }

      50% {
        text-shadow: 0 0 5px #fff;
        color: $color-blue-4;
      }

      51% {
        text-shadow: 0 0 1.6rem #fff;
        color: lighten($color-purple-1, 20);
      }

      53% {
        text-shadow: 0 0 5px #fff;
        color: $color-blue-4;
      }

      54% {
        text-shadow: 0 0 1.6rem #fff;
        color: lighten($color-purple-1, 20);
      }

      81% {
        text-shadow: 0 0 1.6rem #fff;
        color: lighten($color-purple-1, 20);
      }

      96% {
        text-shadow: 0 0 5px #fff;
        color: $color-blue-4;
      }

      100% {
        text-shadow: 0 0 5px #fff;
        color: $color-blue-4;
      }
    }
  }
}