// Utility classes to set margin on the Y axis
.margin-y-sm {
	margin: 1rem 0;
}

.margin-y-md {
	margin: 2rem 0;
}

.margin-y-lg {
	margin: 3rem 0;
}

.margin-y-xl {
	margin: 4rem 0;
}

// Utility classes to align text
.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}