// Smart phones portrait mode
@media (max-width: 576px) {
  
}

// Custom mobile menu break point {
  @media ( min-width: 400px) {

    .main-navigation__mobile {
      
      &.mobile-show {
        right: -7%;
      }
    }
  }

// Smart phones landscape mode
@media (min-width: 576px) {

  .hamburger-button {
    top: 36%;
    left: 4%;
    transform: scale(1);
  }

  .cfs-logo {
    font-size: 3.2rem;
  }

  .main-navigation__mobile {
      
    &.mobile-show {
      right: -5%;
    }
  }

  .music__container,
  .animation__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }

  .newest-posts {
  
    &__post {
      // flex-direction: row;
      // justify-content: center;
      // align-items: flex-start;
    }

    &__img-excerpt {
      flex-direction: row;
      align-items: flex-start;
    }
  
    &__img {
      width: 100%;

      img {
        width: 100%;
        max-width: 30rem;
        margin-bottom: 0;
      }
    }
  
    &__excerpt {
      width: 100%;
      padding: 0 1rem;
    }

    .read-more {
      margin-left: auto;
      margin-right: 1rem;
    }
  }

  .sidebar-2 {
  
    .widget {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 0 0 4rem;
      padding: 0 1rem;
      width: 34rem; 
    }
  }
}

// Tablets and small laptops
@media (min-width: 768px) {

  .cfs-logo {
    font-size: 4rem;
  }

  .archive-primary-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 2 / 3;
    align-items: start;

    .page-header {
      grid-column: 1/3;
      grid-row: 1 / 2;
    }

    .post {
      margin: 1rem;
    }

    .paginate-links {
      grid-column: 1 / 3;
      grid-row: 9999/10000; 
    } 
  }

  .hamburger-button {
    display: none;
  }

  .main-navigation {
    display: block;
  }

  .main-navigation__mobile {
    display: none;
  }

  .sidebar-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: start;
    grid-gap: 1.6rem;

    .widget {
      width: 32rem;
    }
  }
}

// Desktop computers 
@media (min-width: 992px) {

  .site-main {
    flex-direction: row;
    align-items: flex-start;
  }

  .page-main {
    max-width: 80%; 
  }

  .sidebar-1 {
    margin: 3rem 0 1rem;
  }

}

// Tvs and large monitors
@media (min-width: 1200px) {

  .sidebar-2 {
    grid-template-columns: repeat(3, 1fr);
  }

}

// Extra large monitors
@media (min-width: 1300px) {

}