// Hamburger button styles
.hamburger-button {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  top: .6rem;
  left: .6rem;
  transform: scale(.8);

  &:hover {
    
    .line {
      background: lighten($color-blue-1, 20);
    }
  }
}

.line {
  width: 3.8rem;
  height: 4px;
  background: $color-blue-1;
  margin: .4rem 0;
  @include transition-medium;
}

.line-1-click,
.line-2-click,
.line-3-click {
  background: $color-purple-1;
}

.line-1-click {
  transform: rotate(135deg) translate(0, -10px);
}

.line-2-click {
  transform: scale(0);
  
}

.line-3-click {
  transform: rotate(-135deg) translate(0, 11px);
}

// Main menu styles
.main-navigation {
  display: none; 
}

.menu-main-menu-container {
  
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3rem;

  li {
    margin: .6rem 1rem;
    text-align: center;
    font-size: 1.5rem;

    a {
      @include transition-fast;
    }
  }
}

// Main mobile menu styles
.main-navigation__mobile {
  position: fixed;
  top: 0; 
  right: -100%;
  @include transition-fast;

  &.mobile-show {
    right: -10%;
  }

  .menu-main-menu-container {
  
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;;
    margin: 0 3rem;
    padding: 1rem;
    background: rgba(0, 0, 0, .6);
    border: 1px solid $color-purple-1;
  
    li {
      margin: .6rem 1rem;
      text-align: center;
      font-size: 1.5rem;
  
      a {
        @include transition-fast;
      }
    }
  }
}