.sidebar-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 32rem;
  min-width: 32rem;
  margin: 1rem;
  padding: 1rem;

  .widget {
		margin: 2rem 0;
		display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 26rem;
    max-width: 32rem;
    padding: 0 1rem;

		&-title {
			color: $color-blue-1;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 1rem;
      width: 100%;

      // a {
      //   display: inline-block;
      //   margin-bottom: .6rem;
      // }

      li:first-child {
        border-top: 1px solid gray;
      }

      li {
        border-bottom: 1px solid gray;
        width: 100%;
        display: inline-block;
        padding: .8rem 0;
      }
    }
  }
}

.sidebar-2-container {
  padding: 1rem;
  width: 100%;
}

.sidebar-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;  
  padding: 1rem;

  .widget {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 4rem;
    padding: 0 1rem;
    width: 26rem;

    &-title {
			color: #000;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 1rem;
    }
  }
}

// Search form styles 
.widget_search {
  margin: 1rem 0 0;
}

.custom-search-form {
	position: relative;
}

.custom-search-field {
	width: 100%;
	border: 1px solid $color-gray-light;
  padding: 1rem 1.5rem;
  padding-right: 5.5rem;
  font-size: 1.8rem;
  color: $color-gray-light;
  outline: none;
  

  &:focus {
    box-shadow: inset 10px 10px solid $color-gray-medium;
  }
}

.custom-search-submit {
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
	border: none;
	width: 5rem;
	padding-top: .5rem;
	color: $color-gray-medium;
	background-color: transparent;
  cursor: pointer;
	-webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}