// As hex codes */
$color-gray-light: #4b4b4b;
$color-gray-medium: #353535;
$color-gray-dark: #1a1a1a;

$color-blue-0: #04415B;	// Main blue color */
$color-blue-1: #236886;
$color-blue-2: #10526F;
$color-blue-3: #023044;
$color-blue-4: #011D29;



// As RGBa codes */

$rgba-blue-0: rgba(  4, 65, 91,1);	// Main blue color */
$rgba-blue-1: rgba( 35,104,134,1);
$rgba-blue-2: rgba( 16, 82,111,1);
$rgba-blue-3: rgba(  2, 48, 68,1);
$rgba-blue-4: rgba(  1, 29, 41,1);

// As hex codes */

$color-purple-0: #800080;	// Main purple color */
$color-purple-1: #A32FA3;
$color-purple-2: #9F0A9F;
$color-purple-3: #690069;
$color-purple-4: #4D004D;



// As RGBa codes */

$rgba-purple-0: rgba(128,  0,128,1);	// Main purple color */
$rgba-purple-1: rgba(163, 47,163,1);
$rgba-purple-2: rgba(159, 10,159,1);
$rgba-purple-3: rgba(105,  0,105,1);
$rgba-purple-4: rgba( 77,  0, 77,1);
